@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  /* app/globals.css */



}
.gradient {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image:
    radial-gradient(at 30% 30%, #ffe5e7 0px, transparent 60%),
    radial-gradient(at 70% 40%, #fdd7e4 0px, transparent 70%),
    radial-gradient(at 50% 80%, #ffffff 0px, transparent 80%),
    radial-gradient(at 20% 90%, #f3f4f6 0px, transparent 80%);
  filter: blur(80px) saturate(120%);
  opacity: 0.4;
  pointer-events: none;
}
